/* include border & padding in the width & height */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #2f3e46;
  font-size: 18px;
  line-height: 1.70; 
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.flex {
  display: flex;
}
.item1 {
  font-size: 1.5em;
}

.container {
  max-width: 87.5em;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
nav {
  font-family: "Poppins", sans-serif; /* Headings */
  border-radius: 10px;
}
nav .regular-navigation {
  width: 80%;
  justify-self: center;
  margin-bottom: 0.7em;

  /* remove list styling from nav */
  .navigation {
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    align-items: baseline;
  }

  .navRightSide {
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    color: black;
  }

  .navRightSide a {
    display: inline-block;
    transition: transform 0.2s ease, color 0.2s ease;
    opacity: 0.8;
    color: #777;
  }

  .navRightSide a:hover {
    opacity: 0.9;
    color: #333;
    transform: translate(0px, -2px);
  }

  /* Nav: Resume */
  .item2 {
    padding-right: 3em;
  }
}

.exit-image:hover {
  transform: rotateZ(90deg);
}

.exit-image {
  transition: 0.5s;
}
.burger-button {
  padding: 3px 6px;
  border-radius: 4px;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}
.burger-button:active {
  transform: scaleY(1.04);
}

a {
  color: inherit;
  text-decoration: none;
  padding-bottom: 2px;
}

#content {
  height: auto;
}
.main-page {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Popout menu */
.header-menu-popout {
  display: flex;
  height: 100%;
  z-index: 1;
  position: fixed;
  width: 0;
  top: 0;
  left: 0;
  font-size: 1.5em;
  align-items: center;
  flex-direction: column;
  padding-top: 4em;
  background-color: white;

  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s;

  .overlay-content {
    display: flex;
    flex-direction: column;
  }

  .burger-menu {
    position: absolute;
    top: 1.5em;
    right: 2em;
  }

  a {
    text-decoration: none;
    color: inherit;
    line-height: 2.3em;
  }

  li {
    list-style-type: none;
  }

  .overlay-content {
    justify-content: center;
    align-items: center;
  }

  .burger-menu:active {
    border-radius: 10px;
    background-color: #f1f3f4;
  }
  .burger-button:active {
    transform: scaleY(1.04);
  }
}

/* Box experience css */
.experience-container {
  /* controls ALL boxes behavior */
  justify-content: center;
  width: 80%;
  flex-direction: column;
}

.introduction-items {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  margin: 2em 0em;
  justify-self: center;
  align-items: center;
}

/* Personal intro text box */
.personal-info {
  width: 40%;
  background-color: #e6f7f1;
  border-radius: 8px;
  padding: 1em;
}
.personal-info .job-title {
  font-size: 1em;
  font-weight: 400;
  color: #3a3a3a;
}
.personal-info .personal-name {
  font-weight: 800;
  letter-spacing: -0.02em;
  font-size: 2em;
  margin-bottom: 0.3em;
}

.background-info {
  width: 50%;
  padding: 1em;
  font-size: 1.1em;
  text-align: left;
}

.background-info .main-description {
  margin-bottom: 1em;
  color: #666;
  line-height: 1.4;
  font-size: 1.1em;
}

.background-info .connect {
  color: #666;
}

/* Behavior of individual boxes */
.box-item {
  flex: 50%;
  color: black;
  border-radius: 10px;

  margin: 8px 8px;
  /* any transform changes should happen over 0.3s */
  box-shadow: rgba(0, 0, 0, 0.133) 0px 0px 4px 2px,
    rgba(0, 0, 0, 0.11) 0px 0.3px 0.9px;
}

.image-container {
  display: flex;
  flex: 1;
  align-items: center;
  /* max-height: 300px; */
}
.box-container-content {
  display: flex;
  color: #444444;
}

.text-description {
  flex: 1.2;
  font-size: 1.1em;
  line-height: 1.3em;
  
  .fa-arrow-up-right-from-square {
    transition: transform 0.4s ease; /* Smooth transition */

  }
  .fa-arrow-up-right-from-square:hover {
    transform: translate(2px, -1px) scale(1.02); /* Moves right and up */
  }
  a:hover {
    color: #20b3a2;
  }
  
}
.box-container-content .text-description {
  padding: 1em 1.5em;
}
.box-container-content .image-container img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
  margin-top: 10px;
}

.skill-pill {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.java { background-color: #f89820; } 
.html { background-color: #DE4B25;}
.css { background-color: #186BC0;}
.bootstrap { background-color: #7710F2;}
.javascript { background-color: #CEB228;}
.aws { background-color: #ff9900; }
.docker { background-color: #2496ed; } 
.react { background-color: #61dbfb; color: black; }
.python { background-color: #3776ab; } 

.skill-pill:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.projects-container {

  width: 80%;
  margin-top: 1.6em;
  padding: 2em;
  background-color: #f0f8ff;
  border-radius: 10px;
}

.projects-container h2 {
  font-size: 2em;
  font-weight: 600;
  color: #333;
  margin-bottom: 1em;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.project-item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 1.5em;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.project-item:hover {
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 10px;
}


.project-item h3 {
  font-size: 1.8em;
  font-weight: 700;
}

.project-description {
  font-size: 1.1em;
  color: #555;
}


.project-links a {
  display: inline-block;
  font-weight: bold;
  color: #2a9d8f;
  margin-top: 1em;
  transition: color 0.3s ease;
}

.project-links a:hover {
  color: #1f7f7b;
}

@media (max-width: 768px) {
  .projects-container {
    width: 90%;
    margin: 1.5em auto;
  }

  .project-item {
    padding: 1em;
  }
}


/* footer css: */
.footer-contact-me {
  display: grid;
  position: absolute;
  left: 0;
  right: 0;
  grid-template-columns: 30% auto;
  justify-content: center;
  font-size: 1em;
  width: 100%;
  padding: 2em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 0.8em;
  gap: 5em;
  background-color: #e6e0d4;

  .contact-me-title-header {
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    align-items: center;
    gap: 0.3em;
    span {
      font-size: 1.2em;
      vertical-align: middle;
    }
  }

  .contact-details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5em;
    div {
      display: inline;

      span a i {
        /* space between icon and text */
        margin-right: 2px;
      }
      a {
        color: #333; /* Default link color */
      }
      a:hover {
        color: #2a9d8f;
        text-decoration: underline;
      }
    }
  }
}
@media (max-width: 768px) {
  .contact-me-title-header {
    justify-content: center;
  }
  .footer-contact-me {
    grid-template-columns: 1fr; /* Stacking elements */
    gap: 3em;
    text-align: center;
  }

  .contact-details {
    justify-content: center;
    gap: 1em;
  }
}
@media (max-width: 1350px) {
  .introduction-items {
    flex-direction: column;
    text-align: center;
    margin-bottom: 1px;
    padding: 0;
    width: 70%;
  }

  .personal-info {
    margin-bottom: 10px;
  }

  .introduction-items .personal-info,
  .background-info {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .image-container,
  .text-description {
    width: 100%;
  }
  .box-container-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .box-item {
    width: 100%;
  }

  .experience-container {
    width: 70%;
    align-items: center;
  }
}

/* 0 to 600 do this */
@media (max-width: 600px) {
  nav .regular-navigation {
    padding: 0em 1em 0em 1em;
  }

  nav .burger-menu {
    display: flex;
  }

  .navRightSide {
    display: none;
  }
}
/* 600 and above do this */
@media (min-width: 600px) {
  /* Removing the burger menu from the navigation header */
  nav .burger-menu {
    display: none;
  }
}
