/* include border & padding in the width & height */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #2f3e46;
  font-size: 18px;
  line-height: 1.7;
  height: 100%;
}

h1, h2, h3 {
  font-weight: 700;
}

.flex {
  display: flex;
}
/* Name Heading */
.item1 {
  display: flex;
  /* gap: .2em; */
  font-size: 1.4em;
  align-items: center;
}
/* Degree info css */
.cs-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  font-size: 0.5em;
  color: #333;
  background: #f8f9fa;
  padding: 4px 0px;
  margin-left: 10px;
  border-radius: 6px;
  width: fit-content;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.testudo-icon {
  width: 20px;
  height: auto;
}

/* Body css */
.container {
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
nav {
  border-radius: 10px;
}
nav .regular-navigation {
  width: 80%;
  justify-self: center;
  margin-bottom: 0.7em;

  /* remove list styling from nav */
  .navigation {
    margin-top: 0.5em;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding-left: 1em; 
    padding-right: 1em;
  }

  .nav-right-side {
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    color: black;
  }

  .nav-right-side li {
    transition: transform .3s ease, color 0.3s ease;
    opacity: 0.8;
    color: #777;
  }

  .nav-right-side li:hover {
    opacity: 0.9;
    color: #333;
    transform: translate(0px, -2px);
  }
}

.exit-image:hover {
  transform: rotateZ(90deg);
}

.exit-image {
  transition: 0.5s;
}
.burger-button {
  align-items: center;
  padding: 3px 6px;
  border-radius: 4px;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}

i#burger-menu-image {
  font-size: 1.2em;
}

.burger-button:active {
  transform: scaleY(1.04);
}

a {
  color: inherit;
  text-decoration: none;
  padding-bottom: 2px;
}

#content {
  height: auto;
}
.main-page {
  max-width: 80%; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

/* Popout menu */
.header-menu-popout {
  display: flex;
  height: 100%;
  z-index: 1;
  position: fixed;
  width: 0;
  top: 0;
  left: 0;
  font-size: 1.2em;
  align-items: center;
  flex-direction: column;
  padding-top: 4em;
  background-color: white;

  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s;

  .overlay-content {
    display: flex;
    flex-direction: column;
  }

  .popout-close-burger-menu {
    position: absolute;
    top: 1.5em;
    right: 2em;
  }

  a {
    text-decoration: none;
    color: inherit;
    line-height: 2.3em;
  }

  li {
    list-style-type: none;
  }

  .overlay-content {
    justify-content: center;
    align-items: center;
  }

  .popout-close-burger-menu:active {
    border-radius: 15px;
    background-color: #f1f3f4;
  }
  .burger-button:active {
    transform: scaleY(1.04);
  }
}

/* Box experience css */
.experience-container {
  /* controls ALL boxes behavior */
  justify-content: center;
  flex-direction: column;
}

.introduction-items {
  display: flex;
  width: 72%;
  justify-content: space-evenly;
  margin: 2em 0em;
  justify-self: center;
  align-items: center;
}

/* Personal intro text box */
.personal-info {
  width: 45%;
  background-color: #e6f7f1;
  border-radius: 8px;
  padding: 1em;
}
.personal-info .job-title {
  font-size: 1em;
  font-weight: 400;
  color: #3a3a3a;
}
.personal-info .personal-name {
  font-weight: 800;
  letter-spacing: -0.02em;
  font-size: 2em;
  margin-bottom: 0.3em;
}

.background-info {
  width: 50%;
  padding: 1em;
  font-size: 1.1em;
  text-align: left;
}

.background-info .main-description {
  margin-bottom: 1em;
  color: #666;
  line-height: 1.4;
  font-size: 1.1em;
}

.background-info .connect {
  color: #666;
}

/* Behavior of individual boxes */
.box-item {
  flex: 50%;
  color: black;
  border-radius: 10px;
  margin: 10px 10px;
  padding: 1em;
  /* any transform changes should happen over 0.3s */
  box-shadow: rgba(0, 0, 0, 0.133) 0px 0px 4px 2px,
    rgba(0, 0, 0, 0.11) 0px 0.3px 0.9px;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%; /* image width */
  max-width: 300px;
  padding: 0.5em;
}
.box-container-content {
  display: flex;
  align-items: center;
  justify-content: space-around; /* Ensures even space distribution */

  background: #f9f9f9; /* Light background for contrast */
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.text-description {
  width: 60%;
  font-size: 1.1em;
  line-height: 1.8; /* Improve readability */
  letter-spacing: 0.02em; /* Slightly more spaced-out letters */
  color: #333;

  p {
    margin-bottom: 1em;
  }
  a:hover {
    color: #20b3a2;
  }
}
.highlight {
  background-color: #ffeb3b; 
  color: #333; 
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.fa-arrow-up-right-from-square {
  transition: transform 0.4s ease; /* Smooth transition */
}
.fa-arrow-up-right-from-square:hover {
  transform: translate(2px, -1px) scale(1.02); /* Moves right and up */
}

.box-container-content .text-description {
  padding: 1em 1em;
}
.box-container-content .image-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-top: 1em;
}

.skill-pill {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 6px 12px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.github {
  color: black;
  background-color: white;
}
.bitbucket {
  background-color: #2684ff;
}

.java {
  background-color: #f89820;
}
.html {
  background-color: #de4b25;
}
.css {
  background-color: #186bc0;
}
.bootstrap {
  background-color: #7710f2;
}
.javascript {
  background-color: #ceb228;
}
.aws {
  background-color: #ff9900;
}
.docker {
  background-color: #2496ed;
}
.react {
  background-color: #61dbfb;
  color: black;
}
.python {
  background-color: #3776ab;
}

.skill-pill:hover {
  transform: scale(1.08);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.projects-container {
  width: 80%;
  margin-top: 1.6em;
  padding: 2em;
  background-color: #f0f8ff;
  border-radius: 10px;
}

.projects-container h2 {
  font-size: 2em;
  font-weight: 600;
  color: #333;
  margin-bottom: 1em;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.project-item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 1.5em;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.project-item:hover {
  transform: scale(1.002);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 10px;
}

.project-item h3 {
  font-size: 1.8em;
  font-weight: 700;
}

.project-description {
  font-size: 1.1em;
  color: #555;
}

.project-links a {
  display: inline-block;
  font-weight: bold;
  color: #2a9d8f;
  margin-top: 1em;
  transition: color 0.3s ease;
}

.project-links a:hover {
  color: #1f7f7b;
}

/* footer css: */
.footer-contact-me {
  display: grid;
  grid-template-columns: 30% auto;
  justify-content: center;
  font-size: 1em;
  width: 100%;
  padding: 2em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 0.8em;
  gap: 5em;
  background-color: #e6e0d4;

  /* Airplane icon hover effect */
  .contact-me-title-header .fa-paper-plane {
    transition: transform 0.7s ease;
  }

  .contact-me-title-header:hover {
    i.fa-paper-plane {
      transform: rotate(50deg) translate(20px, -30px);
    }
  }

  .contact-me-title-header {
    display: flex;
    transition: transform 0.8s ease;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    align-items: center;
    gap: 0.3em;
    span {
      font-size: 1.2em;
      vertical-align: middle;
    }
  }

  .contact-details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5em;
    div {
      display: inline;

      span a i {
        /* space between icon and text */
        margin-right: 2px;
      }
      a {
        color: #333; /* Default link color */
      }
      a:hover {
        color: #2a9d8f;
        text-decoration: underline;
      }
    }
  }
}
@media (max-width: 768px) {
  .main-page {
    max-width: 100%;
  }
  /* Remove testudo in mobile devices */
  .cs-info {
    display: none;
  }

  .contact-me-title-header {
    justify-content: center;
  }
  .footer-contact-me {
    grid-template-columns: 1fr; /* Stacking elements */
    gap: 3em;
    text-align: center;
  }

  .contact-details {
    justify-content: center;
    gap: 1em;
  }

  /* prof experiences */
  .experience-container {
    width: 100%;
    align-items: center;
  }

  /* Personal intro */
  .introduction-items {
    width: 95%;
  }

  /* Projects section */
  .projects-container {
    width: 90%;
    margin: 1.5em auto;
  }

  .project-item {
    padding: 1em;
  }
}
@media (max-width: 1350px) {
  .introduction-items {
    flex-direction: column;
    text-align: center;
    margin-bottom: 1px;
    padding: 0;
  }

  .personal-info {
    margin-bottom: 10px;
  }

  .introduction-items .personal-info,
  .background-info {
    width: 100%;
  }

  /* Prof experience mobile */
  .image-container {
    width: 100%;
    max-width: 400px;
  }
  .box-container-content {
    flex-direction: column;
    align-items: center;
  }
  .box-item {
    width: 100%;
  }

  .experience-container {
    max-width: 90%;
    align-items: center;
  }
  .image-container,
  .text-description {
    width: 100%;
  }
}

@media (min-width: 700px) {
  /* Removing the burger menu from the navigation header */
  .mobile-burger-menu {
    display: none !important;
  }
}

@media (max-width: 699px) {
  nav .regular-navigation {
    width: 90%;
  }

  .nav-right-side {
    display: none !important;
  }

  .mobile-burger-menu {
    display: flex !important;
  }
}
